@import "tailwindcss";
@reference tailwindcss;

* {
  box-sizing: border-box;
}

body {
  @apply bg-white text-gray-900;
}

.cart-drawer {
  backface-visibility: hidden;
  will-change: transform;
  transform: translate3d(100%, 0, 0);
  transition: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
