@import "tailwindcss";
@reference tailwindcss;

* {
  box-sizing: border-box;
}

body {
  @apply bg-white text-gray-900;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
}

#our-work {
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

main {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.cart-drawer {
  backface-visibility: hidden;
  will-change: transform;
  transform: translate3d(100%, 0, 0);
  transition: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

/* === GLOBAL SCROLLBAR STYLING === */

/* Chrome, Edge, Safari */

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #ffffff; /* white */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #000000; /* black */
  border-radius: 8px;
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222; /* slightly lighter black */
}

/* === Firefox === */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
  /* thumb = black, track = white */
}
